name: CI

on:
  # Run on pushes to `master` and on all pull requests.
  push:
    branches:
      - master
  pull_request:
  # Allow manually triggering the workflow.
  workflow_dispatch:

permissions: {}

jobs:
  QA:
    uses: ./.github/workflows/reusable-qa-checks.yml
